.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-container {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--color-tertiary);
}

.indicator--active {
    background-color: var(--color-quaternary);
}