.typing {
    display: flex;
}

.typing__box {
    flex: 1 1;
    padding: 12px 15px;
    border-radius: var(--border-radius-secundary);
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-secundary)
}

.send__button {
    background: none;
    border: none;
    color: var(--color-tertiary-200);
    border: none;
}