:root {
  --color-primary: #fff;
  --color-primary--200: #e7e3e3;
  --color-secundary: #000;
  --color-secundary-200: #302e2e;
  --color-tertiary: #da2f2f;
  --color-tertiary-200: #e44487;
  --color-quaternary: #51e444;

  --border-primary: 1px solid var(--color-tertiary);

  --border-radius-primary: 5px;

  --border-radius-secundary: 20px;


  --width-sidebar: 300px;

  --heading-primary: 25px;

  --padding-primary: 10px 15px;
  --padding-secundary: 10px 30px;

}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-primary: #1b1b1b;
    --color-primary--200: #302e2e;
    --color-secundary: #fff;
    --color-secundary-200: #e7e3e3;
    --color-tertiary: #da2f2f;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secundary);
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--color-secundary);
}

.btn {
  padding: var(--padding-primary);
  border-radius: var(--border-radius-secundary);
  border: none;
  font-weight: 800;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn--primary {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  padding: var(--padding-secundary);
}

.btn--secundary {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}
