.side-nav {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.side-nav__link {
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 1 1 100%;
    width: 80%;
}