.chat-box {
    position: fixed;
    height: 455px;
    width: 338px;
    background-color: var(--color-primary--200);
    bottom: 0;
    right: 50px;
    border-radius: var( --border-radius-primary)  var( --border-radius-primary) 0 0;

    display: flex;
    flex-direction: column;

    gap: 7.5px;

    padding: 5px 10px;
}

.hidden {
    display: none;
}